# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- **Data Science Languages**
- **Commonly Used Libraries**
- **Tools of Data Science**

## Overview

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks       |
| RStudio                 |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
y="This a simple arithmetic expression to mutiply then add integers."
print(y)
result=(3*4)+5
print("Result:", result)

This a simple arithmetic expression to mutiply then add integers.
Result: 17

In [4]:
y="This will convert 200 minutes to hours by diving by 60."
print(y)
minutes = 200
hours = minutes / 60
print("Result:", hours)

This will convert 200 minutes to hours by diving by 60.
Result: 3.3333333333333335

## Author

Ibrahim